div{
	height:800px;
	width:800px;
	border:1px solid white;
	background-color:lightgrey;
	

}
.a{
	height:40px;
	width:780px;
	margin:10px;
	padding-top:20px;
    text-align:center;
    background-color: white;

}
.b{
	background-color: lightgreen;
	border-radius: 3px;
	width:80px;
	border:lightgreen;
}
.c{
	background-color: skyblue;
	border-radius: 3px;
	width:60px;
	border:skyblue;
}
.d{
	background-color:skyblue ;
	border-radius: 3px;
	width:60px;
	border:skyblue;
}
.e{
	background-color: skyblue;
	border-radius: 3px;
	width:100px;
	border:skyblue;
}
.f{
	background-color:red;
	border-radius: 3px;
	width:80px;
	border:red;
}
.g{
	margin-top:20px;
	margin-left:20px;
	
	height:650px;
	width:290px;
	background-color: white;
	float:left;
}
img{
	margin-top:10px;
	height:150px;
	width:100px;
	border-radius:50px;
}
span{
	padding-left:10px;
}
button{
	background-color: blue;
	border-radius: 3px;
	color:white;
}
p{
	display:inline;
	padding-left:60px;

}
#a{
	background-color: white;
	color:blue;
}
.h{
    margin:20px;
    
	height:250px;
	width:430px;
	background-color:white;
	float:right;
	padding-top:20px;
	

}
input{
	width:300px;
}
.k{
	background-color: blue;
	color: white;
	width:100px;
}


.j{
	margin-top:20px;

	margin-right:20px;
	height:350px;
	width:430px;
	background-color:white;
	float:right;
}
label{
	padding-left: 10px;
}
h3{
	padding-top:10px;
	padding-left:5px;
}

progress{
   width: 400px;
}



		