*{
     background:skyblue;
     font-family:"Lucida Cnsole", "Courier New",monospace;
	 }
	 .AIML{
	      color:green;
	 }
	 #tt{
	     background: yellow;
	 }
	 #abc{
	     font-size: 40px;
	 }
	 #Lalli{
	     background:pink;
	 }